name: Run Tests

on:
  push:
    branches: [ "main", "add-uncertainty-functions" ]
  pull_request:
    branches: [ "main", "add-uncertainty-functions" ]

permissions:
  contents: read
  
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest
        pip install pvtlib

    - name: Install package
      run: pip install -e .

    - name: Run tests with pytest
      run: |
        pytest tests
