name: Run Tests

on:
  push:
    branches: [ "main"]
  pull_request:
    branches: [ "main"]
  schedule:
    - cron: '0 0 * * *'  # Runs daily at midnight UTC

permissions:
  contents: read
  
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false #prevent cancellation of other jobs if one fails
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest
          pip install pvtlib

      - name: Install package
        run: pip install -e .

      - name: Run tests with pytest
        run: |
          pytest tests
